@{
    
}

<div>
    <h3>Редактирование @ViewBag.EditUser.Name</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.EditUser.Id" name="Id" />
        <table>
            <tr>
                <td><p>Имя:</p></td>
                <td><input type="text" name="Name" value="@ViewBag.EditUser.Name" /> </td>
            </tr>
            <tr>
                <td><p>Почта:</p></td>
                <td>
                    <input type="text" name="Mail" value="@ViewBag.EditUser.Mail" />
                </td>
            </tr>
        </table>
        <p><input type="submit" value="Сохранить" /></p>
        <p>@ViewBag.Status</p>
    </form>
</div>